<div class="login-container">
    <div class="ilustracao">
      <img src="assets/imagens/Icone_lendo.png" alt="Ilustração">
    </div>
    <div class="login-form">
        <h1>Cadastre-se</h1>
      <form>
        <div class="form-group">
          <label for="email">Nome</label>
          <input type="email" id="email" placeholder="" required>
        </div>
        <div class="form-group">
          <label for="password">E-mail</label>
          <input type="password" id="password" placeholder="" required>
        </div>
        <div class="form-group">
            <label for="password">Senha</label>
            <div class="password-wrapper">
              <input
                class="pass"
                [type]="visibilidadeSenha ? 'text' : 'password'"
                name="password"
                id="password"
                maxlength="40" 
                placeholder="Digite sua senha"
              >
              <img 
                class="toggle-visibility"
                [src]="visibilidadeSenha ? 'assets/imagens/eye_open.png' : 'assets/imagens/eye_close.png'"
                (click)="mostrarSenha()"
                alt="Toggle visibility"
              >
          </div>
          </div>
          <div class="form-group">
            <label for="password">Confirmação da Senha</label>
            <div class="password-wrapper">
              <input
                class="pass"
                [type]="visibilidadeSenha ? 'text' : 'password'"
                name="password"
                id="password"
                maxlength="40" 
                placeholder="Digite sua senha"
              >
              <img 
                class="toggle-visibility"
                [src]="visibilidadeSenha ? 'assets/imagens/eye_open.png' : 'assets/imagens/eye_close.png'"
                (click)="mostrarSenha()"
                alt="Toggle visibility"
              >
          </div>
      </div>
        <button routerLink="home" type="submit">Cadastrar</button>
      </form>
      <p>Possui conta? <a routerLink="/">Entrar</a></p>
    </div>
  </div>

