<app-navbar></app-navbar>
<section class="header">
    <div class="cabecalho">
        <h1>Termos</h1>
        <p>Qual termo gostaria de acessar hoje?</p>
    </div>

    <div class="botao">
        <button><img class="me-2" src="assets/imagens/plus.png" alt="">Adicionar Turma</button>
    </div>
</section>

<section class="container py-5">
    <div class="row justify-content-between">
      <div class="col-md-4 col-sm-6 col-12 mb-4">
        <div class="card card-termo">
          <div class="card-body d-flex justify-content-center align-items-center">
            <p class="texto-termo mb-0">1º Termo</p>
          </div>
        </div>
      </div>
  
      <div class="col-md-4 col-sm-6 col-12 mb-4" >
        <div class="card card-termo" >
          <div class="card-body d-flex justify-content-center align-items-center" style="background-color: #EEE7DA;">
            <p class="texto-termo mb-0">2º Termo</p>
          </div>
        </div>
      </div>
  
      <div class="col-md-4 col-sm-6 col-12 mb-4">
        <div class="card card-termo">
          <div class="card-body d-flex justify-content-center align-items-center" style="background-color: #A5DD9B;">
            <p class="texto-termo mb-0">3º Termo</p>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row justify-content-between">
      <div class="col-md-4 col-sm-6 col-12 mb-4">
        <div class="card card-termo">
          <div class="card-body d-flex justify-content-center align-items-center" style="background-color: #C5EBAA;">
            <p class="texto-termo mb-0">4º Termo</p>
          </div>
        </div>
      </div>
  
      <div class="col-md-4 col-sm-6 col-12 mb-4">
        <div class="card card-termo">
          <div class="card-body d-flex justify-content-center align-items-center" style="background-color: #FFFFDD;">
            <p class="texto-termo mb-0">5º Termo</p>
          </div>
        </div>
      </div>
  
      <div class="col-md-4 col-sm-6 col-12 mb-4">
        <div class="card card-termo">
          <div class="card-body d-flex justify-content-center align-items-center" style="background-color: #AFC8AD;">
            <p class="texto-termo mb-0">6º Termo</p>
          </div>
        </div>
      </div>
    </div>
  </section>