<app-navbar></app-navbar>
<section class="header">
    <div class="cabecalho">
        <h1>Termos</h1>
        <p>Qual termo gostaria de acessar hoje?</p>
    </div>

    <div class="botao">
        <button><img class="me-2" src="assets/imagens/plus.png" alt="">Adicionar Turma</button>
    </div>
</section>

<section class="container py-5">
  <div class="row justify-content-between">
    <div *ngFor="let termo of termos; let i = index" class="col-md-4 col-sm-6 col-12 mb-4">
      <div class="card card-termo" [ngStyle]="{'background-color': cores[i % cores.length]}">
        <div class="card-body d-flex justify-content-center align-items-center">
          <p class="texto-termo mb-0">{{termo.id}}º Termo</p>
        </div>
      </div>
    </div>
  </div>
</section>