<div class="login-container">
  <div class="ilustracao">
    <img src="assets/imagens/icon_estudando.png" alt="Ilustração">
  </div>
  <div class="login-form">
    <div class="mochila">
      <img src="assets/imagens/logo_grande.png" alt="">
    </div>
    <h1>Guia do Mochileiro</h1>
    <h1>Fatecano</h1>
    <form>
      <div class="form-group">
        <label for="email">E-mail</label>
        <input type="email" id="email" placeholder="Digite seu e-mail" required>
      </div>
      <div class="form-group">
        <label for="password">Senha</label>
        <div class="password-wrapper">
          <input class="pass" [type]="visibilidadeSenha ? 'text' : 'password'" name="password" id="password"
            maxlength="40" placeholder="Digite sua senha">
          <img class="toggle-visibility"
            [src]="visibilidadeSenha ? 'assets/imagens/eye_open.png' : 'assets/imagens/eye_close.png'"
            (click)="mostrarSenha()" alt="Toggle visibility">
        </div>
      </div>
      <button routerLink="home" type="submit">Entrar</button>
    </form>
    <p>Ainda não possui conta? <a routerLink="register">Cadastrar-se</a></p>
  </div>
</div>