<div class="login-container">
    <div class="ilustracao">
      <img src="assets/imagens/icon_estudando.png" alt="Ilustração">
    </div>
    <div class="login-form">
        <div class="mochila">
            <img src="assets/imagens/logo_grande.png" alt="">
        </div>
        <h1>Guia do Mochileiro</h1>
        <h1>Fatecano</h1>
      <form>
        <div class="form-group">
          <label for="email">E-mail</label>
          <input type="email" id="email" placeholder="Digite seu e-mail" required>
        </div>
        <div class="form-group">
          <label for="password">Senha</label>
          <input type="password" id="password" placeholder="Digite sua senha" required>
        </div>
        <button routerLink="home" type="submit">Entrar</button>
      </form>
      <p>Ainda não possui conta? <a routerLink="register">Cadastrar-se</a></p>
    </div>
  </div>
